.heading {
    padding-top: 35px;
    text-align: center;
    border-bottom: 1px solid rgb(239, 238, 238);
    padding-bottom: 40px;
}

.heading h4 {
    font-size: 25px;
    font-weight: 700;
    color: #fb641b;
}

.mainsection {
    background-color: rgb(236, 235, 235);
    height: 1580px;

}

.head {
    margin: 0px 8px 8px 10px;
    background-color: white;
    border-radius: 10px;
    height: 1570px;
}



.carticon {
    color: white !important;
}

.card {
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-body {
    border-top: 1px solid lightgray;
}

.productsection {
    margin-top: 50px;
    margin-left: 20px;
}

.cardimage {
    padding: 10px;
    display: flex;
    object-fit: contain;
    height: 320px;
}

.productname {
    padding-top: 10px;
    text-transform: capitalize;
    text-align: center;
    color: black;
}

.productprice {
    text-align: center;
    font-size: 13px;
    color: darkgreen;

}



.routingclass {
    text-decoration: none;
}